{% extends "base.html" %}
{% load static %}

{% block titulo %}
    Cinema
{% endblock %}
{% block corpo %}


  <div class="p-3 mb-2 bg-light text-dark text-center">
    <h1>Nossos Filmes</h1>
  </div>


  <div class="row justify-content-md-center">

        {% for loja in lojas %}
            <div class ="col-lg-3 d-flex align-items-stretch">
                 <div class="card mb-3 mb-3 ml-5 mr-5">
                  <image src ="{% static 'images/lojas/' %}{{ loja.imagem }}" alt="{{ loja.nome }}" title="Card com o logo e informações da loja do {{ loja.nome }}"></image>
                  <div class="card-body text-center">
                    <div class="text-center">
                      <h5 class="card-title">{{ loja.nome }}</h5>
                      <p class="text-secondary font-weight-bold">{{ loja.categoria }}</p>
                    <content>
                      <div>
                        <span id = "like" data-like = "30">30</span>
                        <a href="javascript:void(0)" class="mr-2" style="text-decoration: none">
                          <i  id="img_like" class="far fa-thumbs-up btn_like"></i>
                        </a>
                      </div>
                      <span id = "dislike" data-dislike = "7">7</span>
                      <a href="javascript:void(0)" class="mr-2" style="text-decoration: none">
                        <i id="img_dislike"class="far fa-thumbs-down btn_dislike"></i>
                      </a>
                    </content>

                    </div>

                    <p class="card-text text-center">{{ loja.descricao }}</p>
                  </div>
                </div>
            </div>

        {% endfor %}


  </div>
{% endblock %}
