{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <title> {% block titulo %}ShoppingMall{% endblock %}</title>
    <style>
        {% block estilo %}
        {% endblock %}
    </style>



</head>
<body>

    <div id="container_all" class="container_all">
    {% block cabecalho %}
    <nav class="navbar navbar-light bg-light navbar-expand-md">
    <div class="container">
      <a class="navbar-brand" href="{%  url 'index' %}"><img src="{% static 'images//logo.jfif'%}" alt="Logo Shopping"
          style="width: 80px"></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
        aria-expanded="false" aria-label="Botão de navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menu">

        <div class="navbar-nav mx-auto ">
          <a class="nav-link nav-item pr-5" href="{%  url 'sobre' %}">Sobre o Shopping</a>
          <a class="nav-link nav-item pr-5"  href="{%  url 'loja:lista_loja' %}">Nossas Lojas</a>
          <a class="nav-link nav-item pr-5"  href="{%  url 'lazer' %}">Lazer</a>
          <a class="nav-link nav-item pr-5" href="{%  url 'contato' %}">Contato <i class="fa-solid fa-phone"></i></a>
        </div>
      </div>


    </div>

  </nav>


    {% endblock %}

    {% block corpo %}
    {% endblock %}
    </div>

    {% block rodape %}
        <div class="footer row justify-content-md-center">
    <div class="footerpt1">

      <h4>Shopping Lorem Ipsum</h4>
      <br>
      <h7>Siga a gente nas Redes Sociais</h7>
    </div>


    <div class="footerpt1">

      <div style='font-size:15px'> Endereço</div>
      <div style='font-size:8px'> Rua do Shopping 123, bloco 48</div>
      <br>
      <div style='font-size:15px'> Para mais Informações</div>
      <div style='font-size:8px'> (55)1234-5678</div>

    </div>

    <div class="footerpt1">

      <div style='font-size:15px'> Horário de Funcionamento:
      </div>
      <div style='font-size:10px'>Lojas e Quiosques:</div>
      <div style='font-size:8px'>Segunda à Sábado, das 10h às 22h</div>
      <div style='font-size:8px'>Domingos e Feriados, das 14h às 20h</div>

      <br>
      <div style='font-size:15px'> Alimentação:</div>
      <div style='font-size:8px'> Todos os dias, das 11h às 22h</div>

    </div>
  </div>

  </div>
    {% endblock %}
</body>
  <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
  <script src="{% static 'js/jquery-ui.min.js' %}"></script>
  <script src="{% static 'js/jquery.mask.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>

  <script>
    $(document).read(function (){

        {% block domready %}
        {% endblock %}
    });
  </script>
</html>